<% breadcrumb :user_report, @user_id %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Logs for <%= @user_id %></h3>
    </div>
    <div class="col-md-6 text-right u-valign">
    <%= link_to('Reload Logs', user_refresh_path(@user_id), class: 'btn btn-info') %>
    </div>
  </div>
  <%= link_to('View Reports', '', class: 'btn btn-primary') %>
  <%= link_to('View Characters', user_players_path(@user_id), class: 'btn btn-default') %>
  
  <br /><br />

  <% if @reports.size == 0 %>
    <p>Please use the "Reload Logs" button in the upper right to import your combat logs from Warcraft Logs.</p>
  <% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= report.started_at.strftime("%m/%d/%Y") %></td>
      <td><%= report.imported? ? link_to('View Report', report_path(report.report_id), class: 'btn btn-primary') : link_to('Import', report_import_path(report.report_id), class: 'btn btn-default') %></td>
    </tr>
  <% end %>
  </table>
</div>