<div class="container text-center">
  <h2>Import logs</h2>
  <h4>
    <%= form_tag('', method: "get") do %>
      <%= label_tag(:report_id, "Warcraft Logs report ID:") %>
      <%= text_field_tag(:report_id) %>
      <%= submit_tag("Import", class: "btn btn-primary") %>
    <% end %>
    <span style="font-size: 12px">https://www.warcraftlogs.com/reports/<span style="color: rgb(30, 180, 123)">xxxxxxxxxxxxxxxx</span></span>
  </h4>
  or
  <h4>
    <%= form_tag('', method: "get") do %>
      <%= label_tag(:report_id, "Warcraft Logs username:") %>
      <%= text_field_tag(:user_id) %>
      <%= submit_tag("Load", class: "btn btn-primary") %>
    <% end %>
  </h4>
  <br />
  <h2>Search existing logs</h2>
  <h4>
    <%= form_tag('/players/search', method: "get") do %>
      <%= label_tag(:report_id, "Character name:") %>
      <%= text_field_tag(:char_name) %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </h4>

</div>

<div class="container" style="margin-top: 50px; border-top: 1px solid #dddddd;">
  <h3>What does this site do?</h3>
  <p>This site is made for Brewmasters in the World of Warcraft who want to improve by tracking their performance across raid encounters, based on a small number of key metrics.</p>
  <p>To learn more, you can <a href="http://www.brewmasterlogs.com/fights/495865ce5dfbcc49">see a sample report</a>, or <%= link_to 'read more here', action: 'about' %>.</p>
  <br />
  <div style="border-top: 1px solid #dddddd;">
    <h3>Updates</h3>
    <h4>Health Graph view&nbsp;&nbsp;<small>7/31/2015</small></h4>
    <img src="https://dl.dropboxusercontent.com/u/1482691/hp_full.png" width="800px"/>
    <p>Now you can see a graph of your health over the course of the encounter, with visualizations for heals and absorbs.</p>
    <br />
    <h4>The site is live!&nbsp;&nbsp;<small>7/25/2015</small></h4>
  </div>
</div>