<div class="container text-center">
  <h2>Import logs</h2>
  <h4>
    <%= form_tag('', method: "get") do %>
      <%= label_tag(:report_id, "Warcraft Logs report ID:") %>
      <%= text_field_tag(:report_id) %>
      <%= submit_tag("Import", class: "btn btn-primary") %>
    <% end %>
    <span style="font-size: 12px">https://www.warcraftlogs.com/reports/<span style="color: rgb(30, 180, 123)">xxxxxxxxxxxxxxxx</span></span>
  </h4>
  or
  <h4>
    <%= form_tag('', method: "get") do %>
      <%= label_tag(:report_id, "Warcraft Logs username:") %>
      <%= text_field_tag(:user_id) %>
      <%= submit_tag("Load", class: "btn btn-primary") %>
    <% end %>
  </h4>
  <br />
  <h2>Search existing logs</h2>
  <h4>
    <%= form_tag('/players/search', method: "get") do %>
      <%= label_tag(:report_id, "Character name:") %>
      <%= text_field_tag(:char_name) %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </h4>

</div>

<div class="container" style="margin-top: 100px">
  <h3>What does this site do?</h3>
  <p>This site is made for Brewmasters in the World of Warcraft who want to improve by tracking their performance across raid encounters, based on a small number of key metrics.</p>
  <p>It is designed primarily for those who want to improve their basic rotation. It probably will not provide enough information to be useful to advanced players who are already very comfortable with the class and are now trying to maximize their output.</p>
  <p>This site is not meant to give a detailed overview of the fights, as there are multiple other sites designed for that purpose. The goal instead of to distill the logs to a small amount of information about your survivability and general execution, which can then be easily tracked and compared across multiple attempts.</p>
  <p>That said, there are a few Brewmaster-specific metrics that I hope will be an interesting contribution to the community, such as a measure of Guard and Elusive Brew effectiveness.</p>
  <p>All log information is taken from the <a href="http://www.warcraftlogs.com" target="_blank">Warcraft Logs</a> public API, so you must create a WCL account and upload your logs there first, before importing them to this site.</p>
  <br /><br />
  <p>To learn more, you can <a href="http://www.brewmasterlogs.com/fights/495865ce5dfbcc49">see a sample report</a>, or <%= link_to 'read more here', action: 'about' %>.</p>
</div>