<% breadcrumb :user_chars, @user_id %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Logs for <%= @user_id %></h3>
    </div>
    <div class="col-md-6 text-right u-valign">
    <%= link_to('Refresh', user_refresh_path(@user_id), class: 'btn btn-info btn-lg') %>
    </div>
  </div>

  <%= link_to('View Reports', user_path(@user_id), class: 'btn btn-default') %>
  <%= link_to('View Characters', '', class: 'btn btn-primary') %>
  <br /><br />

  <% if @players.size == 0 %>
    <p>Please use the "Reload Logs" button in the upper right to import your combat logs from Warcraft Logs.</p>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Character</th>
        <th>Parses</th>
        <th></th>
      </tr>
    </thead>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.player_name %></td>
      <td><%= @report_counts[player.player_id] %></td>
      <td><%= link_to('View Reports', player_path(player.player_id), class: 'btn btn-default') %></td>
    </tr>
  <% end %>
  </table>
</div>