<% breadcrumb :fight, @fight, @fps.first, @report %>

<div class="container">
  <div class="title"><%= "#{@fight.name} (#{DifficultyType.label(@fight.difficulty)}) (#{@fps.first.fight_time / 60}:#{@fps.first.fight_time % 60})" %></div>
  <% @fps.each_with_index do |fp, i| %>
    <div class="player-tag p<%= i %>"><%= UserToPlayer.find_by(player_id: fp.player_id).player_name %></div>
  <% end %>
  <div style="clear:both"></div>
  <%= link_to('Key Metrics', '?tab=basic', class: 'btn btn-primary') %>
  <%= link_to('Resource Management', '?tab=resources', class: 'btn btn-default') %>
  <%= link_to('Cooldown Usage', '?tab=cooldowns', class: 'btn btn-default') %>
  <br /><br />
  <section>
    <h4>Damage per Second <a class="tiny" data-toggle="popover" title="Damage per Second" data-content="Total damage / Fight time. Xuen's damage is shown with a separate color">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar p<%= i %> light" style="width: <%= 100 * fp.dps / @max_bar %>%">
            <div class="bar p<%= i %>" style="width: <%= 100 * fp.player_damage_done / (fp.player_damage_done + fp.pet_damage_done) %>%"><%= fp.dps %>/s</div>
          </div>
        </div>
        <div class="col-md-6"><%= (fp.player_damage_done + fp.pet_damage_done) / 1000 %>k total damage (<%= fp.pet_damage_done / 1000 %>k pet)</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Damage Taken per Second <a class="tiny" data-toggle="popover" title="Damage Taken per Second" data-content="This is the total damage (divided by fight time) that actually reduced your HP. Absorbs are not included.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar p<%= i %>" style="width: <%= 100 * fp.dtps / @max_bar %>%">
            <%= fp.dtps %>/s
          </div>
        </div>
        <div class="col-md-6"><%= fp.damage_taken / 1000 %>k total damage taken</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Self Healing per Second <a class="tiny" data-toggle="popover" title="Self Healing per Second" data-content="The total amount (divided by fight time) that you healed yourself. Absorbs are shown with a separate color.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar p<%= i %> light" style="width: <%= 100 * fp.shps / @max_bar %>%">
            <div class="bar p<%= i %>" style="width: <%= 100 * fp.self_healing / (fp.self_healing + fp.self_absorbing) %>%">
              <%= fp.shps %>/s
            </div>
          </div>
        </div>
        <div class="col-md-6"><%= fp.self_healing / 1000 %>k healed, <%= fp.self_absorbing / 1000 %>k absorbed</div>
      </div>
      <% end %>
  </section>

  <section>
    <h4>External Healing per Second <a class="tiny" data-toggle="popover" title="External Healing per Second" data-content="The total amount (divided by fight time) that other sources healed you. Absorbs are shown with a separate color.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar p<%= i %> light" style="width: <%= 100 * fp.ehps / @max_bar %>%">
            <div class="bar p<%= i %>" style="width: <%= 100 * fp.external_healing / (fp.external_healing + fp.external_absorbing) %>%">
              <%= fp.ehps %>/s
            </div>
          </div>
        </div>
        <div class="col-md-6"><%= fp.external_healing / 1000 %>k healed, <%= fp.external_absorbing / 1000 %>k absorbed</div>
      </div>
      <% end %>
  </section>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>