<div class="container">
  <h5><small><%= @report.title %>&nbsp;&nbsp;>&nbsp;&nbsp;</small><%= "#{@fight.name} (#{@fp.fight_time / 60}:#{@fp.fight_time % 60})" %></h5>

  <%= link_to('Key Metrics', '?tab=basic', class: 'button') %>
  <%= link_to('Resource Management', '?tab=resources', class: 'button button-primary') %>
  <%= link_to('Cooldown Usage', '?tab=cooldowns', class: 'button') %>
  <br /><br />

  <section>
    <h4>Kegsmash Efficiency</h4>
    <div class="row">
      <div class="one column">2/20</div>
      <div class="five columns">
        <div class="bar white" style="width: 100%">
          <div class="bar" style="width: <%= 800 * @fp.kegsmash / @fp.fight_time %>%"><%= @fp.kegsmash %></div>
        </div>
      </div>
      <div class="three columns"><%= @fp.kegsmash %> / <%= @fp.fight_time / 8 %> (<%= 800 * @fp.kegsmash / @fp.fight_time %>%)</div>
    </div>
  </section>

  <section>
    <h4>Shuffle Uptime</h4>
    <div class="row">
      <div class="one column">2/20</div>
      <div class="five columns">
        <div class="bar white" style="width: 100%">
          <div class="bar" style="width: <%= 100 * @fp.shuffle / @fp.fight_time %>%">
            <%= @fp.shuffle / (10 * @fp.fight_time) %>%
          </div>
        </div>
      </div>
      <div class="three columns"><%= @fp.shuffle / 1000 %>s / <%= @fp.fight_time %>s</div>
    </div>
  </section>

  <section>
    <h4>Time not Energy-Capped</h4>
    <div class="row">
      <div class="one column">2/20</div>
      <div class="five columns">
        <div class="bar white" style="width: 100%">
          <div class="bar" style="width: <%= 100*(@fp.fight_time - @fp.capped_time) / @fp.fight_time %>%">
            <%= @fp.fight_time - @fp.capped_time %>s
          </div>
        </div>
      </div>
      <div class="three columns"><%= @fp.fight_time - @fp.capped_time %>s / <%= @fp.fight_time %>s</div>
    </div>
  </section>

  <section>
    <h4>Stagger Purified</h4>
    <div class="row">
      <div class="one column">2/20</div>
      <div class="five columns">
        <div class="bar white" style="width: 100%">
          <div class="bar" style="width: <%= 100 * (@fp.damage_to_stagger - @fp.damage_from_stagger) / @fp.damage_to_stagger %>%">
            <%= 100 * (@fp.damage_to_stagger - @fp.damage_from_stagger) / @fp.damage_to_stagger %>%
          </div>
        </div>
      </div>
      <div class="three columns"><%= (@fp.damage_to_stagger - @fp.damage_from_stagger) / 1000 %>k / <%= @fp.damage_to_stagger / 1000 %>k</div>
    </div>
  </section>
</div>