<% breadcrumb :fight, @fight, @fps.first, @report, @fights %>

<div class="container">
  <div class="title"><%= "#{@fight.name} (#{DifficultyType.label(@fight.difficulty)}) (#{@fps.first.fight_time / 60}:#{@fps.first.fight_time % 60})" %></div>
  <% @players.each_with_index do |player, i| %>
    <a href="/players/<%= player.player_id %>"><div class="player-tag p<%= i %>"><%= player.player_name %></div></a>
  <% end %>
  <div style="clear:both"></div>
  <%= link_to('Key Metrics', '?tab=basic', class: 'btn btn-default') %>
  <%= link_to('Resource Management', '?tab=resources', class: 'btn btn-primary') %>
  <%= link_to('Cooldown Usage', '?tab=cooldowns', class: 'btn btn-default') %>
  <%= link_to('Health Graph', '?tab=hp', class: 'btn btn-default') %>
  <br /><br />

  <section>
    <h4>Kegsmash Efficiency <a class="tiny" data-toggle="popover" title="Kegsmash Efficiency" data-content="The number of times you cast Kegsmash / the number of casts you had time for. Aim for 100%.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar white" style="width: 100%">
            <div class="bar p<%= i %>" style="width: <%= 800 * fp.kegsmash / fp.fight_time %>%"><%= fp.kegsmash %></div>
          </div>
        </div>
        <div class="col-md-3"><%= fp.kegsmash %> / <%= fp.fight_time / 8 %> (<%= 800 * fp.kegsmash / fp.fight_time %>%)</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Tigerpalm Casts <a class="tiny" data-toggle="popover" title="Tigerpalm Casts" data-content="It's hard to say how many Tigerpalm casts is 'good', but this should be high since you can cast it every GCD that you're not doing something else.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar p<%= i %>" style="width: <%= [200 * fp.tigerpalm / fp.fight_time, 100].min %>%"><%= fp.tigerpalm %></div>
        </div>
        <div class="col-md-3"><%= fp.tigerpalm %> / <%= fp.fight_time %>s</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Shuffle Uptime <a class="tiny" data-toggle="popover" title="Shuffle Uptime" data-content="The percent of the fight that you had Shuffle active. Aim for 100%.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar white" style="width: 100%">
            <div class="bar p<%= i %>" style="width: <%= fp.shuffle / (10 * fp.fight_time) %>%">
              <%= fp.shuffle / (10 * fp.fight_time) %>%
            </div>
          </div>
        </div>
        <div class="col-md-3"><%= fp.shuffle / 1000 %>s / <%= fp.fight_time %>s</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Time not Energy-Capped <a class="tiny" data-toggle="popover" title="Time not Energy-Capped" data-content="The percent of the fight that you had less than max Energy (except while Serenity was active). Aim for 100%.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar white" style="width: 100%">
            <div class="bar p<%= i %>" style="width: <%= 100*(fp.fight_time - fp.capped_time) / fp.fight_time %>%">
              <%= fp.fight_time - fp.capped_time %>s
            </div>
          </div>
        </div>
        <div class="col-md-3"><%= fp.fight_time - fp.capped_time %>s / <%= fp.fight_time %>s</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Stagger Purified <a class="tiny" data-toggle="popover" title="Stagger Purified" data-content="The amount of Stagger purified / the total amount of damage converted to Stagger. 100% is unrealistic, but higher percents mean you took less damage.">Explain this</a></h4>
    <% @fps.each_with_index do |fp, i| %>
      <div class="row">
        <div class="col-md-5">
          <div class="bar white" style="width: 100%">
            <div class="bar p<%= i %>" style="width: <%= 100 * (fp.damage_to_stagger - fp.damage_from_stagger) / fp.damage_to_stagger rescue 0 %>%">
              <%= 100 * (fp.damage_to_stagger - fp.damage_from_stagger) / fp.damage_to_stagger rescue 0 %>%
            </div>
          </div>
        </div>
        <div class="col-md-3"><%= (fp.damage_to_stagger - fp.damage_from_stagger) / 1000 %>k / <%= fp.damage_to_stagger / 1000 %>k</div>
      </div>
    <% end %>
  </section>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('select#fight option').each(function(index, option){
    if (option.value == "") {
      name = $(option).text();
      $(option).text('-- ' + name + ' --');
    }
  });
  $('select#fight').change(function() {
    val = $('select#fight').val();
    if (val != "")
      window.location = "/fights/" + val + "?tab=resources";
  });
})
</script>