<% max_bar = [
    @fp.gps,
    @fp.ebps
  ].max
%>

<div class="container">
  <h5><small><%= link_to @report.user_id, user_path(@report.user_id) %>&nbsp;&nbsp;>&nbsp;&nbsp;<%= link_to @report.title, report_path(@report.report_id) %>&nbsp;&nbsp;>&nbsp;&nbsp;</small><%= "#{@fight.name} (#{@fp.fight_time / 60}:#{@fp.fight_time % 60})" %></h5>

  <%= link_to('Key Metrics', '?tab=basic', class: 'button') %>
  <%= link_to('Resource Management', '?tab=resources', class: 'button') %>
  <%= link_to('Cooldown Usage', '?tab=cooldowns', class: 'button button-primary') %>
  <br /><br />

  <section>
    <h4>Guard Effectiveness</h4>
    <div class="row">
      <div class="one column"><%= @fp.fight_date %></div>
      <div class="six columns">
        <div class="bar light" style="width: <%= 100 * @fp.gps / max_bar %>%">
          <div class="bar" style="width: <%= 100 * @fp.guard_healed / (@fp.guard_absorbed + @fp.guard_healed) %>%">
            <%= @fp.gps %>/s
          </div>
        </div>
      </div>
      <div class="three columns"><%= @fp.guard_healed / 1000 %>k healed, <%= @fp.guard_absorbed / 1000 %>k absorbed</div>
    </div>
  </section>

  <section>
    <% @fp.cooldown_parses.guard.order(id: :asc).each do |guard| %>
      <div class="row" onclick="$('#g-<%= guard.id %>').slideToggle();">
      <div class="two columns u-align-right"><%= guard.time_s %> <img src="/assets/down.png" height="15px" width="15px"/></div>
      <div class="five columns">
        <div class="bar light" style="width: <%= 100 * (guard.absorbed_amount + guard.healed_amount) / @max_guard %>%">
          <div class="bar" style="width: <%= 100 * guard.healed / (guard.absorbed_amount + guard.healed_amount) rescue 0 %>%"><%= (guard.absorbed_amount + guard.healed_amount) / 1000 %>k</div>
        </div>
      </div>
      <div class="three columns"><%= guard.healed_amount / 1000 %>k healed, <%= guard.absorbed_amount / 1000 %>k absorbed</div>
    </div>
    <div id="g-<%= guard.id %>" class="row slideout">
        <div class="two columns">&nbsp;</div>
        <div class="five columns">
          <table style="width: 100%">
            <thead><tr><th>Ability</th><th>Incoming Damage</th></tr></thead>
            <tbody>
              <% guard.ability_hash.each do |ability_id, hash| %>
                <tr>
                  <td><%= hash[:name] %></td>
                  <td><%= hash[:amount] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Elusive Brew Effectiveness</h4>
    <div class="row">
      <div class="one column"><%= @fp.fight_date %></div>
      <div class="six columns">
          <div class="bar" style="width: <%= 100 * @fp.ebps / max_bar %>%">
            <%= @fp.ebps %>/s
          </div>
      </div>
      <div class="three columns"><%= @fp.eb_avoided / 1000 %>k avoided</div>
    </div>
  </section>

  <section>
    <% @fp.cooldown_parses.eb.order(id: :asc).each do |eb| %>
      <div class="row" onclick="$('#eb-<%= eb.id %>').slideToggle();">
        <div class="two columns u-align-right"><%= eb.time_s %> <img src="/assets/down.png" height="15px" width="15px"/></div>
        <div class="five columns">
          <div class="bar" style="width: <%= 100 * eb.reduced_amount / @max_eb %>%"><%= eb.reduced_amount / 1000 %>k</div>
        </div>
        <div class="three columns"><%= eb.reduced_amount %> dmg / <%= eb.time %> sec</div>
      </div>
      <div id="eb-<%= eb.id %>" class="row slideout">
        <div class="two columns">&nbsp;</div>
        <div class="five columns">
          <table style="width: 100%">
            <thead><tr><th>Ability</th><th>Count</th><th>Avg. dmg.</th></tr></thead>
            <tbody>
              <% eb.ability_hash.each do |source_id, source_hash| %>
                <% source_hash[:abilities].each do |ability_id, hash| %>
                  <tr>
                    <td><%= hash[:name] %></td>
                    <td><%= hash[:dodged] %></td>
                    <td><%= hash[:avg] %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </section>
</div>