<div class="container">
  <h5><small><%= link_to @report.user_id, user_path(id: @report.user_id) %>&nbsp;&nbsp;>&nbsp;&nbsp;</small><%= @report.title %></h5>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Difficulty</th>
        <th>Kill?</th>
        <th>Fight length</th>
        <th></th>
      </tr>
    </thead>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.name %></td>
        <td><%= "#{DifficultyType.label(fight.difficulty)} #{fight.size} man" %></td>
        <td><%= fight.kill? ? "Kill" : "Wipe" %></td>
        <td><%= Time.at(fight.ended_at/1000 - fight.started_at/1000).strftime("%M:%S") %></td>
        <td><%= fight.button_html %></td>
      </tr>
    <% end %>
  </table>
</div>