<div class="container">
  <h5><small><%= link_to @player_name, player_path(@player_id) %>&nbsp;&nbsp;>&nbsp;&nbsp;</small><%= "#{@boss_name}" %></h5>

  <%= link_to('Key Metrics', '?tab=basic', class: 'button button-primary') %>
  <%= link_to('Resource Management', '?tab=resources', class: 'button') %>
  <%= link_to('Cooldown Usage', '?tab=cooldowns', class: 'button') %>
  <br /><br />
  <section>
    <h4>Damage per Second</h4>
    <% @fights.each do |fp| %>
      <div class="row">
        <div class="one column"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="five columns">
          <div class="bar light" style="width: <%= 100 * fp.dps / @max_dps %>%">
            <div class="bar" style="width: <%= 100 * fp.player_damage_done / (fp.player_damage_done + fp.pet_damage_done) %>%"><%= fp.dps %>/s</div>
          </div>
        </div>
        <div class="six columns"><%= fp.player_damage_done / 1000 %>k total damage (<%= fp.pet_damage_done / 1000 %>k pet)</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Damage Taken per Second</h4>
    <% @fights.each do |fp| %>
      <div class="row">
        <div class="one column"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="five columns">
          <div class="bar" style="width: <%= 100 * fp.dtps / @max_dtps %>%">
            <%= fp.dtps %>/s
          </div>
        </div>
        <div class="six columns"><%= fp.damage_taken / 1000 %>k total damage taken</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>Self Healing per Second</h4>
    <% @fights.each do |fp| %>
      <div class="row">
        <div class="one column"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="five columns">
          <div class="bar light" style="width: <%= 100 * fp.shps / @max_shps %>%">
            <div class="bar" style="width: <%= 100 * fp.self_healing / (fp.self_healing + fp.self_absorbing) %>%">
              <%= fp.shps %>/s
            </div>
          </div>
        </div>
        <div class="six columns"><%= fp.self_healing / 1000 %>k healed, <%= fp.self_absorbing / 1000 %>k absorbed</div>
      </div>
    <% end %>
  </section>

  <section>
    <h4>External Healing per Second</h4>
    <% @fights.each do |fp| %>
      <div class="row">
        <div class="one column"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="five columns">
          <div class="bar light" style="width: <%= 100 * fp.ehps / @max_ehps %>%">
            <div class="bar" style="width: <%= 100 * fp.external_healing / (fp.external_healing + fp.external_absorbing) %>%">
              <%= fp.ehps %>/s
            </div>
          </div>
        </div>
        <div class="six columns"><%= fp.external_healing / 1000 %>k healed, <%= fp.external_absorbing / 1000 %>k absorbed</div>
      </div>
    <% end %>
  </section>
</div>
