<% breadcrumb :boss, @boss_id, @boss_name, @difficulty, @player_id, @player_name %>
<div class="container">
  <h3><%= "#{@boss_name} (#{DifficultyType.label(@difficulty)}) - Comparison" %></h3>

  <%= link_to('Key Metrics', '?tab=basic', class: 'btn btn-default') %>
  <%= link_to('Resource Management', '?tab=resources', class: 'btn btn-default') %>
  <%= link_to('Cooldown Usage', '?tab=cooldowns', class: 'btn btn-primary') %>
  <br /><br />
  <section>
    <h4>Guard Effectiveness <a class="tiny" data-toggle="popover" title="Guard Effectiveness" data-content="The total amount of damage mitigated through Guard / fight time. The effectiveness of each invididual Guard cast is the sum of the damage that was absorbed, and the 30% boost to self-healing.">Explain this</a></h4>
    <% @fights.each do |fp| %>
      <div class="row">
      <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
      <div class="col-md-5">
        <div class="bar light" style="width: <%= 100 * fp.gps / @max_gps rescue 0 %>%">
          <div class="bar" style="width: <%= 100 * fp.guard_healed / (fp.guard_absorbed + fp.guard_healed) %>%"><%= fp.gps %>/s</div>
        </div>
      </div>
      <div class="col-md-3"><%= fp.guard_healed / 1000 %>k healed, <%= fp.guard_absorbed / 1000 %>k absorbed</div>
    </div>
    <% end %>
  </section>

  <section>
    <h4>Elusive Brew Effectiveness <a class="tiny" data-toggle="popover" title="Elusive Brew Effectiveness" data-content="The total amount of damage mitigated through Elusive Brew / fight time. The effectiveness of each invididual Elusive Brew cast is calculated by recording each attack that was dodged, and summing the damage it would have done had it hit you, based on average damage taken from that ability over the course of the fight.">Explain this</a></h4>
    <% @fights.each do |fp| %>
      <div class="row">
      <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
      <div class="col-md-5">
          <div class="bar" style="width: <%= 100 * fp.ebps / @max_ebps rescue 0 %>%">
            <%= fp.ebps %>/s
          </div>
      </div>
      <div class="col-md-3"><%= fp.eb_avoided / 1000 %>k avoided</div>
    </div>
    <% end %>
  </section>

  <% if @max_dhps > 0 %>
    <section>
      <h4>Dampen Harm Effectiveness <a class="tiny" data-toggle="popover" title="Dampen Harm Effectiveness" data-content="The total amount of damage mitigated through Dampen Harm / fight time. Each cast of Dampen Harm has its 3 highest hitting attacks recorded, and calculates the total damage mitigation (50% if the attack did >15% of your total health). Because the mitigation happens before any damage is recorded, it's difficult to know for sure whether an attack that did between 7.5-15% of your total health was actually mitigated or not.">Explain this</a></h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.dh_reduced / fp.fight_time) / @max_dhps rescue 0  %>%">
              <%= fp.dh_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.dh_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
  <% if @max_dmps > 0 %>
    <section>
      <h4>Diffuse Magic Effectiveness <a class="tiny" data-toggle="popover" title="Diffuse Magic Effectiveness" data-content="The total amount of damage mitigated through Diffuse magic / fight time. Each cast of Diffuse Magic records all magic damage taken while it is up, and calculates the total mitigation (90%)">Explain this</a></h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.dm_reduced / fp.fight_time) / @max_dmps rescue 0  %>%">
              <%= fp.dm_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.dm_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
  <% if @max_zmps > 0 %>
    <section>
      <h4>Zen Meditation Effectiveness <a class="tiny" data-toggle="popover" title="Zen Meditation Effectiveness" data-content="The total amount of damage mitigated through Zen Meditation / fight time. Each cast of Zen Meditation records all damage taken while it is up, and calculates the total mitigation (90%)">Explain this</a></h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.zm_reduced / fp.fight_time) / @max_zmps rescue 0  %>%">
              <%= fp.zm_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.zm_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
  <% if @max_fbps > 0 %>
    <section>
      <h4>Fortifying Brew Effectiveness <a class="tiny" data-toggle="popover" title="Fortifying Brew Effectiveness" data-content="The total amount of damage mitigated through Fortifying Brew / fight time. Each cast of Fortifying Brew records all damage taken while it is up, and calculates the total mitigation (20%). Increased Stagger is not taken into effect here, so its total effectiveness may be understated.">Explain this</a></h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.fb_reduced / fp.fight_time) / @max_fbps rescue 0  %>%">
              <%= fp.fb_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.fb_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
</div>
