<% breadcrumb :boss, @boss_id, @boss_name, @difficulty, @player_id, @player_name %>
<div class="container">
  <h3><%= "#{@boss_name} (#{DifficultyType.label(@difficulty)}) - Comparison" %></h3>

  <%= link_to('Key Metrics', '?tab=basic', class: 'btn btn-default') %>
  <%= link_to('Resource Management', '?tab=resources', class: 'btn btn-default') %>
  <%= link_to('Cooldown Usage', '?tab=cooldowns', class: 'btn btn-primary') %>
  <br /><br />
  <section>
    <h4>Guard Effectiveness</h4>
    <% @fights.each do |fp| %>
      <div class="row">
      <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
      <div class="col-md-5">
        <div class="bar light" style="width: <%= 100 * fp.gps / @max_gps rescue 0 %>%">
          <div class="bar" style="width: <%= 100 * fp.guard_healed / (fp.guard_absorbed + fp.guard_healed) %>%"><%= fp.gps %>/s</div>
        </div>
      </div>
      <div class="col-md-3"><%= fp.guard_healed / 1000 %>k healed, <%= fp.guard_absorbed / 1000 %>k absorbed</div>
    </div>
    <% end %>
  </section>

  <section>
    <h4>Elusive Brew Effectiveness</h4>
    <% @fights.each do |fp| %>
      <div class="row">
      <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
      <div class="col-md-5">
          <div class="bar" style="width: <%= 100 * fp.ebps / @max_ebps rescue 0 %>%">
            <%= fp.ebps %>/s
          </div>
      </div>
      <div class="col-md-3"><%= fp.eb_avoided / 1000 %>k avoided</div>
    </div>
    <% end %>
  </section>

  <% if @max_dhps > 0 %>
    <section>
      <h4>Dampen Harm Effectiveness</h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.dh_reduced / fp.fight_time) / @max_dhps rescue 0  %>%">
              <%= fp.dh_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.dh_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
  <% if @max_dmps > 0 %>
    <section>
      <h4>Diffuse Magic Effectiveness</h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.dm_reduced / fp.fight_time) / @max_dmps rescue 0  %>%">
              <%= fp.dm_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.dm_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
  <% if @max_zmps > 0 %>
    <section>
      <h4>Zen Meditation Effectiveness</h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.zm_reduced / fp.fight_time) / @max_zmps rescue 0  %>%">
              <%= fp.zm_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.zm_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
  <% if @max_fbps > 0 %>
    <section>
      <h4>Fortifying Brew Effectiveness</h4>
      <% @fights.each do |fp| %>
        <div class="row">
        <div class="col-md-1"><%= link_to fp.fight_date, fight_path(fp.fight_id) %></div>
        <div class="col-md-5">
            <div class="bar" style="width: <%= 100 * (fp.fb_reduced / fp.fight_time) / @max_fbps rescue 0  %>%">
              <%= fp.fb_reduced / fp.fight_time %>/s
            </div>
        </div>
        <div class="col-md-3"><%= fp.fb_reduced / 1000 %>k avoided</div>
      </div>
      <% end %>
    </section>
  <% end %>
</div>
