<!DOCTYPE html>
<html>
<head>
  <title>Bmlogs</title>
  <!--  CSS  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--  SCRIPT  -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--  META  -->
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<% flash.each do |type, msg| -%>
  <%= content_tag :div, msg, class: "alert alert-#{type} alert-dismissible" %>
  <% end -%>
<%= yield %>

</body>
</html>
