<!DOCTYPE html>
<html>
<head>
  <title>Brewmaster Logs</title>
  <!--  CSS  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--  SCRIPT  -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--  META  -->
  <%= csrf_meta_tags %>
  <meta name="description" content="A site for Brewmasters in the World of Warcraft who want to improve by tracking their performance across raid encounters, based on a small number of key metrics.">
</head>
<body>
  <div id="wrapper">
    <%= render "layouts/header" %>
    <div class="notif">
      This site is moving to <a href="http://www.checkmywow.com">www.checkmywow.com</a>. Please read more <a href="/checkmywow">here</a>.
    </div>
    <% flash.each do |type, msg| -%>
      <div class="alert alert-<%=type%> alert-dismissible">
        <%=raw msg %>
      </div>
      <% end -%>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65668017-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
